@tailwind base;
@tailwind components;
@tailwind utilities;

/* font -babeas nue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', sans-serif; */
/* font - pt serif */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'PT Serif', serif; */

@media (min-width: 1366px) and (max-width: 6500px) {
    .main_container {
        /* max-width: 1366px; */
        width: 100%;
        max-height: 100vh;
        overflow: hidden;
    }
    
    .main_Container img {
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }

}
@media (max-width: 1366px) {}
@media (max-width: 768px) {}